/* styles.css */

/* Style for "PEMIS" */
.header-blue {
    color: #0084FF;
    font-weight: 950; /* Make "PEMIS" bold */
    font-family: Inter, sans-serif;
    letter-spacing :-0.1rem;
}

/* Style for "Primary Education Management Information System" */
.header-black {
    color: black;
    font-family: Inter, sans-serif;
    font-size: 17px;
}

/* Style for the header container */
.header-container {
    display: flex;
    align-items: center;
}

/* Add space between the elements */
.header-container h1 {
    margin-right: 10px; /* Adjust the margin as needed for spacing */
}
