@media(max-width:991px) {

    /* custom classes */
    .text-content {
        width: 100%;
    }

    /* navbar brand */
    .navigation-wrap .navbar-brand img {
        height: 3.8125rem;
        width: 4.8112rem;
    }

    .navigation-wrap {
        text-align: center;
        background-color: var(--white-color);
    }

    .navigation-wrap .nav-link {
        line-height: 1.87rem;
    }
    #orderNow{
        margin-bottom: 30px;
    }
    .top-banner img{
        height: 450px;
        width: 290px;
    }
}

@media(max-width: 767px){
    /* custom css */
    h1{
        font-size: 2.8rem;
    }
    h2{
        font-size: 2rem;
        line-height: 2.0625rem;
    }

    /* top banner */
    .top-banner{
        padding: 10.875rem 0 9.375rem;
    }
}