*,
*::after,
*::before {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

:active,
:hover,
:focus {
    outline: 0 !important;
    outline-offset: 0;
}

a,
a:hover {
    text-decoration: none;
}

ul,
ol {
    margin: 0;
    padding: 0;
}

/* variables defines */
:root {
    --primary-color: #ab2c37;
    --secondary-color: #30040f;
    --third-color: #ee4e43;
    --white-color: #f1eaec;
    --text-color: #554d4f;
    --black-color: #0a0405d5;
    --primary-font: 'Roboto', sans-serif;
    --secondary-font: 'Quicksand', sans-serif;
}

html {
    scroll-behavior: smooth;
}

body {
    font-size: var(--primary-font);
    font-size: 100%;
    font-weight: 400;
}

::-webkit-scrollbar {
    width: 0.7000rem;
}

::-webkit-scrollbar-track {
    background: var(--white-color);
}

::-webkit-scrollbar-thumb {
    background-color: var(--primary-color);
}

/* custom css design */
h1 {
    font-size: 3rem;
    font-weight: 900;
    margin-bottom: 3rem;
    color: #9f1414;
}

h2 {
    font-weight: 700;
    font-size: 2.25rem;
    text-transform: capitalize;
    font-family: var(--secondary-font);
    color: var(--secondary-color);
    line-height: 3rem;
}

h4 {
    font-weight: 800;
    font-size: 10px;
    text-transform: capitalize;
    font-family: var(--secondary-font);
    line-height: 3rem;
}

h5 {
    color: var(--primary-color);
    font-weight: 800;
    font-size: 10px;
    text-transform: capitalize;
    font-family: var(--secondary-font);
    line-height: 3rem;
}

p {
    font-size: 1rem;
    color: #9f1414;
    font-weight: 400;
    line-height: 1.175rem;
    letter-spacing: 1px;
}

.main-btn {
    display: inline-block;
    padding: 0.525rem 1.075rem;
    line-height: 1.5625rem;
    background-color: var(--primary-color);
    border: 0.1875rem solid var(--primary-color);
    color: var(--white-color);
    font-size: 0.9375rem;
    font-weight: 600;
    text-transform: capitalize;
    box-shadow: 0px 2px 10px -1px rgb(0 0 0/19%);
    -webkit-transition: all .4s ease-out 0s;
    -o-transition: all .4s ease-out 0s;
    -moz-transition: all .4s ease-out 0s;
    transition: all .4s ease-out 0s;

}

.white-btn {
    display: inline-block;
    padding: 0.525rem 1.075rem;
    line-height: 1.5625rem;
    background-color: var(--white-color);
    border: 0.1875rem solid var(--white-color);
    color: var(--black-color);
    font-size: 0.9375rem;
    font-weight: 600;
    text-transform: capitalize;
    box-shadow: 0px 2px 10px -1px rgb(0 0 0/19%);
    -webkit-transition: all .4s ease-out 0s;
    -o-transition: all .4s ease-out 0s;
    -moz-transition: all .4s ease-out 0s;
    transition: all .4s ease-out 0s;
}

.main-btn:hover {
    background-color: transparent;
    color: var(--primary-color);
}

.wrapper {
    padding-top: 8.25rem;
    padding-bottom: 8.25rem;
}

.text-content {
    width: 70%;
    margin: auto;
    overflow: auto;
    /* Add this line to enable scrollbars if content overflows */
}


.counter-section h2,
.testimonial-section h2,
.book-food-text h2 {
    color: var(--white-color);
}

/* Header desing */
.navigation-wrap {
    position: fixed;
    width: 100%;
    left: 0;
    z-index: 1000;
    -webkit-transition: all 0.3s ease-out;
    transition: all 0.3s ease-out;
}

.navigation-wrap .nav-item {
    padding: 0 0.625rem;
    transition: all 200ms linear;
}

.navbar-toggler:focus {
    outline: unset;
    border: unset;
    box-shadow: non;
}

.nav-link {
    font-size: 0.9375rem;
    font-weight: 600;
    text-transform: capitalize;
    color: var(--primary-color);
    letter-spacing: 1px;
}

.navigation-wrap .main-btn {
    padding: 0.3125rem 1.4375rem;
    box-shadow: none;
    margin-left: 0.625rem;
}

.navbar-nav .nav-item .nav-link {
    color: var(--text-color);
    /* Set the default text color */
    transition: color 0.3s ease;
    /* Smooth color transition on hover */
}

/* Change the text color on hover */
.navbar-nav .nav-item .nav-link:hover {
    color: rgb(0, 255, 42);
    /* Change the text color to blue when hovered */
}

/* change navbar style on scroll */
.navigation-wrap .scroll-on {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background: rgb(0, 255, 42);
    box-shadow: 0 0.125rem 1.75rem 0 rgb(0, 0, 0, 0.9);
    transition: all 0.15s ease-in-out 0s;
}

/* top banner design  */
.top-banner img {
    margin-top: -5px;
    height: 450px;
    width: 665px;
}

/* counter desing */
.counter-section {
    background-color: var(--primary-color);
    padding: 2.5rem 0;
}

.counter-section p {
    color: var(--white-color);
    text-transform: uppercase;
}

.plus-icon {
    margin-left: -10px;
}

#orderNow {
    margin-bottom: 100px;
}

/* about section */

.about-section img {
    margin-top: 10px;
    height: 300px;
    width: 500px;
    border: 4px solid #f8f7f2fb;
    /* Border color */
    box-shadow: 0 4px 6px rgba(4, 230, 211, 0.753);
    /* Box shadow */

}